<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visit counter</title>
</head>
<body>

<h2>G'day, {{username}}!</h2>

Visitors table:
<ul>
    {{#visitors}}
        <li>{{username}}: {{visits}}</li>
    {{/visitors}}
</ul>

<b>Fun fact</b>: On average, there are {{avgVisitsPerUser}} visits per user

</body>
</html>